/* All Pages*/
*{
    line-height:30px;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: auto;
    border-style:ridge;
    border-color:darkorchid;
    border-width:30px;
    border-bottom: 0px;
    border-radius: 20px 20px 45px 45px;
    padding: 40px;
}

/* List align in the center of page but text to the left! */
div.parent {
    text-align: center;
}
ul, ol {
    display:inline-block;
    text-align: left;
}

.pic {
    border-radius: 20px 20px 20px 20px;
    border: solid 5px plum;
    width: 400px;
    height: auto;
}

.heading,
.subheading,
.links {
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-weight: 600;
}

/* Recipe Pages */
body .title {
    font-size: 40px;
    font-weight: 900;
    text-decoration:dotted overline underline darkmagenta;
}

.heading {
    padding-top: 20px;
    margin-top: 20px;
    text-decoration:dotted underline goldenrod 3px;
}

.recipes li {
    font-weight: 300;
}

ul li,
.para {
    font-family: Tahoma, Serif, 'Segoe IU';
}